<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <link rel="stylesheet" href="./css/commen.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <!-- 头部 -->
    <div class="pyg_header">
        <div class="mui-input-row mui-search">
            <input type="search" class="mui-input-clear" placeholder="">
        </div>
    </div>
    <!-- 内容 -->
    <div class="pyg_view">
        <div class="mui-slider">

        </div>
        <div class="pyg_nav">

        </div>
        <div class="pgy_list">
            <div class="list_item">
                <!-- 大图片 -->
                <img src="http://image4.suning.cn/uimg/cms/img/149559219946350066.png" alt="">
                <!-- 商品详情 -->
                <ul>
                    <li>
                        <a href="javascript;:" class="goods_detail">
                            <img src="http://image3.suning.cn/uimg/b2c/newcatentries/0070091223-000000000128342191_1_400x400.jpg"
                                alt="">
                            <div class="list_name"></div>
                            <div class="list_price">￥</div>
                        </a>
                        <a href="javascript;:" class="goods_like mui-btn mui-btn-primary mui-btn-outlined">
                            找相似
                        </a>
                    </li>
                    <li>
                        <a href="javascript;:" class="goods_detail">
                            <img src="http://image3.suning.cn/uimg/b2c/newcatentries/0070091223-000000000128342191_1_400x400.jpg"
                                alt="">
                            <div class="list_name">45648974521qweadasdsadewfwfwefwe98f45646545654654654564564654564654564654875q4e5wq4e654q65456fq我的的的我的啊的乌黑的爱欧式看来哈达和抗老化爱看楼上的  </div>
                            <div class="list_price">￥1111</div>
                        </a>
                        <a href="javascript;:" class="goods_like mui-btn mui-btn-primary mui-btn-outlined">
                            找相似
                        </a>
                    </li>
                    <li>
                        <a href="javascript;:" class="goods_detail">
                            <img src="http://image3.suning.cn/uimg/b2c/newcatentries/0070091223-000000000128342191_1_400x400.jpg"
                                alt="">
                            <div class="list_name"></div>
                            <div class="list_price">￥</div>
                        </a>
                        <a href="javascript;:" class="goods_like mui-btn mui-btn-primary mui-btn-outlined">
                            找相似
                        </a>
                    </li>
                    <li>
                        <a href="javascript;:" class="goods_detail">
                            <img src="http://image3.suning.cn/uimg/b2c/newcatentries/0070091223-000000000128342191_1_400x400.jpg"
                                alt="">
                            <div class="list_name"></div>
                            <div class="list_price">￥</div>
                        </a>
                        <a href="javascript;:" class="goods_like mui-btn mui-btn-primary mui-btn-outlined">
                            找相似
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>


    <!-- 尾部 -->
    <div class="pyg_footer">
        <a href="javascript;:">
            <span class="fa fa-home"></span>
            <div>首页</div>
        </a>
        <a href="javascript;:">
            <span class="fa fa-list"></span>
            <div>分类</div>
        </a>
        <a href="javascript;:">
            <span class="fa fa-cart-arrow-down"></span>
            <div>购物车</div>
        </a>
        <a href="javascript;:">
            <span class="fa fa-address-card"></span>
            <div>我的</div>
        </a>
    </div>
</body>

</html>
<script type="text/html" id="swiperTpl">
    <div class="mui-slider-group mui-slider-loop">
          <!--支持循环，需要重复图片节点-->
          <div class="mui-slider-item mui-slider-item-duplicate">
              <a href="#"><img src="{{data[data.length-1].image_src}}" /></a>
            </div>
            {{each data value index}}
          <div class="mui-slider-item"><a href="#"><img src="{{value.image_src}}" /></a></div>
          {{/each}}
          <!--支持循环，需要重复图片节点-->
          <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{data[0].image_src}}" /></a></div>
        </div>
        <div class="mui-slider-indicator">
            {{each data value index}}
            {{if index==0}}
            <div class="mui-indicator mui-active"></div>
            {{/if}}
            {{if index!=0}}
            <div class="mui-indicator"></div>
            {{/if}}
            {{/each}}
        </div>
</script>

<!--  -->
<script type="text/html" id="navTpl">
    {{each data value index}}
        <a href="javascript;:">
             <img src="{{value.image_src}}" alt="">
         </a>
    {{/each}}
</script>

<!-- 商品详情 -->
<script type="text/html" id="listTpl">
    {{each data value index}}
    <div class="list_item">
            <!-- 大图片 -->
            <img src="{{value.group_img}}" alt="">
            <!-- 商品详情 -->
            <ul>
                {{each value.goods value1 index1}}
                <li>
                    <a href="javascript;:" class="goods_detail">
                        <img src="{{value1.goods_small_logo}}"
                            alt="">
                        <div class="list_name">{{value1.goods_name}}</div>
                        <div class="list_price">￥{{value1.goods_price}}</div>
                    </a>
                    <a href="javascript;:" class="goods_like mui-btn mui-btn-primary mui-btn-outlined">
                        找相似
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>    
    {{/each}}
</script>
<script src="./lib/mui/js/mui.js"></script>
<script src="./lib/zepto/zepto.js"></script>
<script src="./lib/arttemplate/template-web.js"></script>
<!-- 公共js -->
<script src="./js/common.js"></script>
<!-- 自己 js -->
<script src="./js/index.js"></script>